<div class="forgot-password-container">
    <mat-card class="forgot-password-card">
        <mat-card-header class="header">
            <mat-card-title *ngIf="showForgotPasswordForm">Find your account</mat-card-title>
            <mat-card-title *ngIf="showOTPForm">Verify your account</mat-card-title>
            <mat-card-title *ngIf="showResetPasswordForm">Reset your password</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- Forgot Password Form -->
            <form #forgotPasswordForm="ngForm" (ngSubmit)="onForgotPasswordFormSubmit(forgotPasswordForm)" *ngIf="showForgotPasswordForm" [@slideOut]="!showForgotPasswordForm">
                <mat-form-field class="full-width" appearance="outline" color="accent">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" name="username" placeholder="Enter your username" ngModel required #username="ngModel">
                    <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">Username is required</mat-error>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline" color="accent">
                    <mat-label>Email ID</mat-label>
                    <input matInput type="email" name="email" placeholder="Enter your registered Email ID" ngModel required #email="ngModel">
                    <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">Email is required</mat-error>
                </mat-form-field>
                    
                <mat-card-actions align="end">
                    <button mat-raised-button *ngIf="!isLoading" color="accent" type="submit" [disabled]="!forgotPasswordForm.valid">Next</button>
                    <mat-progress-spinner mode="indeterminate" diameter="30" color="accent" *ngIf="isLoading"></mat-progress-spinner>
                </mat-card-actions>
            </form>
                
            <!-- OTP Form -->
            <form #otpForm="ngForm" (ngSubmit)="onOTPFormSubmit(otpForm)" *ngIf="showOTPForm" [@slideIn]="showOTPForm" [@slideOut]="!showOTPForm">
                <mat-form-field class="full-width" appearance="outline" color="accent">
                    <mat-label>OTP</mat-label>
                    <input matInput type="number" name="otp" placeholder="Enter the OTP you received" ngModel required #otp="ngModel">
                    <mat-error *ngIf="otp.invalid && (otp.dirty || otp.touched)">OTP is required</mat-error>
                </mat-form-field>
                    
                <mat-card-actions align="end">
                    <button mat-raised-button color="accent" type="submit" [disabled]="!otpForm.valid">Next</button>
                </mat-card-actions>
            </form>
                
            <!-- Reset Password Form -->
            <form #resetPasswordForm="ngForm" (ngSubmit)="onResetPasswordForm(resetPasswordForm)" *ngIf="showResetPasswordForm" [@slideIn]="showResetPasswordForm" [@slideOut]="!showResetPasswordForm">
                <mat-form-field [class.full-width]="!newPassword.errors?.['pattern']" [class.full-width-with-error]="newPassword.errors?.['pattern']" appearance="outline" color="accent">
                    <mat-label>New Password</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" name="newPassword" placeholder="Enter your new password" ngModel required #newPassword="ngModel" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{0,}$" minlength="8" maxlength="15">
                    <button type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched)">
                        <ng-container *ngIf="newPassword.hasError('required')">
                            Password is required
                        </ng-container>
                        <ng-container *ngIf="newPassword.hasError('minlength')">
                            Password length should be minimum 8 characters
                            <br>
                        </ng-container>
                        <ng-container *ngIf="newPassword.hasError('maxlength')">
                            Password length should be maximum 15 characters
                        </ng-container>
                        <ng-container *ngIf="newPassword.errors?.['pattern']">
                            Password should have at least one uppercase and one lowercase characters, one digit and, one special character
                        </ng-container>
                    </mat-error>
                </mat-form-field>

                <mat-form-field [class.full-width]="!confirmPassword.errors?.['pattern']" [class.full-width-with-error]="confirmPassword.errors?.['pattern']" appearance="outline" color="accent">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" name="confirmPassword" placeholder="Confirm your password" ngModel required #confirmPassword="ngModel" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{0,}$" minlength="8" maxlength="15">
                    <mat-error *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)">
                        <ng-container *ngIf="confirmPassword.hasError('required')">
                            Confirm your password
                        </ng-container>
                        <ng-container *ngIf="confirmPassword.hasError('minlength')">
                            Password length should be minimum 8 characters
                            <br>
                        </ng-container>
                        <ng-container *ngIf="confirmPassword.hasError('maxlength')">
                            Password length should be maximum 15 characters
                        </ng-container>
                        <ng-container *ngIf="confirmPassword.errors?.['pattern']">
                            Password should have at least one uppercase and one lowercase characters, one digit and, one special character
                        </ng-container>
                    </mat-error>
                </mat-form-field>
                
                <mat-card-actions align="end">
                    <button mat-raised-button *ngIf="!isLoading" color="accent" type="submit" [disabled]="!resetPasswordForm.valid">Change Password</button>
                    <mat-progress-spinner mode="indeterminate" diameter="30" color="accent" *ngIf="isLoading"></mat-progress-spinner>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>