.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 114px); /* Ensures the container takes up at least the full viewport height */
}

.forgot-password-card {
    width: 450px; /* Adjust the card width as needed */
    /* min-height: 330px; */
    overflow: hidden;
}

.header {
    padding-bottom: 16px;
    color: #6cf4ac;
    justify-content: center;
}

.full-width {
    width: 100%;
    margin-bottom: 20px;
    transition: margin-bottom 0.15s ease;
}

.full-width-with-error {
    width: 100%;
    margin-bottom: 50px;
    transition: margin-bottom 0.15s ease;
}

.forgot-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 575px) {
    .forgot-password-container {
        min-height: calc(100vh - 114px); /* Ensures the container takes up at least the full viewport height */
    }

    .full-width-with-error {
        margin-bottom: 85px;
    }
}